{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles_main.css' %}">
</head>
<body>
    <div class="container">
        <form id="registration-form" method="post">
            {% csrf_token %}
            <h2>Registro de Datos</h2>
            {{ form | crispy }}
            <p>La fecha debe ingresarse como AÑO-MES-DIA</p>
            <input type="submit" value="Registrarse" class="btn btn-success">
        </form>
        <hr class="separador">
        <a href="{% url 'login' %}">Volver al Login</a>
    </div>
    <script src="{% static 'js/validaciones.js' %}"></script>
</body>
</html>
