{% block modal %}
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h3 class="modal-title" id="exampleModalLabel" style="color: black;">
                    Carro de compras
                </h3>
                <a href="{% url 'carrito_prod_close' %}?page={{ page_obj.number }}" class="close" aria-label="Close" style="font-size: 1rem;">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <div class="modal-body">
                <table class="table table-image">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Producto</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.session.shopping_cart.items %}
                            {% for key, value in request.session.shopping_cart.items %} 
                            <tr>
                                <td>
                                    <img src="{{ value.url }}" class="img-fluid img-thumbnail" style="max-width: 80px;" alt="{{ value.description }}">
                                </td>
                                <td>{{ value.nombre }} - {{ value.description }}</td>
                                <td><span class="shoppingCartItemPrice">{{ value.precio }}</span></td>
                                <td>{{ value.amount }}</td>
                                <td>{{ value.total }}</td>
                                <td>
                                    <a class="btn btn-danger btn-sm remove-product" href="{% url 'carrito_prod_add' id=key %}?page={{ page_obj.number}}" style="font-size: 1rem;"><i class="fa fa-plus fa-sm"></i></a>
                                    <a class="btn btn-primary btn-sm remove-product" href="{% url 'carrito_prod_substract' key %}" style="font-size: 1rem;"><i class="fa fa-minus fa-sm"></i></a>
                                    <a class="btn btn-danger btn-sm remove-product" href="{% url 'carrito_prod_delete' key %}" style="font-size: 1rem;"><i class="fa fa-times fa-sm"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td>Costos de envío</td>
                                <td>{{ shipping }}</td>
                                <td>-</td>
                                <td>{{ shipping }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table> 
                <div class="d-flex justify-content-end">
                    <h5 style="color: #F44A36;">Total: <span class="price text-success">
                        $<span>{{ shopping_cart_total }}</span></span> (IVA incluido)
                    </h5>
                </div>
            </div>
            {% if request.session.shopping_cart.items %}
            <div class="modal-footer d-flex justify-content-end">
                <a href="{% url 'carrito_prod_clear' %}" class="btn btn-danger" style="font-size: 1rem;">Limpiar</a>
                <a href="{% url 'create_order' %}" class="btn btn-success" style="font-size: 1rem;">Comprar</a>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}